@media(max-width:320px) {
    /* global */
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 28px;
    }

    p{
        font-size: 16px;
    }

    .btn {
        font-size: 20px;
    }
    /* ends */
    .hero_title h2 {
        font-size: 26px;
    }

    .hero_form p {
        font-size: 26px;
        letter-spacing: 2px;
    }

    .hero_image {
        margin-bottom: 16px;
    }
 
    .discover_content h2 {
        text-align: center;
    }

    .discover {
        background-position: bottom center;
        background-size: 100%;
        padding: 30px 15px 280px 15px
    }

    .about {
        background: url(../images/half-2.webp);
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: 80%;
        padding: 30px 15px 150px 15px;
    }

    .about_era {
        width: 100%;
    }

    .about_era h2{
        text-align: center;
    }

    .benefits_content h2 {
        font-size: 28px;
        text-align: center;
    }

    .footer_head {
        display: block;
    }

    .footer_nav {
        display: block;
    }

}